# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# build folder
dist

# docker volume
data

# Docker
docker-compose.override.yml

# Backups
backups/

# google cloud credentials
service-account.json